*{
    text-decoration: none;
    list-style-type: none;
    
}
h1,h2,h3,h4,h5,ul,p{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
body{
    display:flex;
    flex-direction:column;
    font-family: 'Roboto';
}
header,main,footer{
    
}
.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

                                /* Хедер */

header{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    align-items: center;
}
.navigation{
    margin-left: 93px;
}
.navlist{
    padding:0;
}
.navlinksitem{
    margin-right: 50px;
}
ul.navlist li{
    display: inline;
}
.web-blue{
    color: #2196F3;
}
.navlistcontacts{
    display: flex;
}
.navlinkscont{
    margin-left: 50px;
}
.navlinkscontact-container{
    display: flex;
    align-items: center;
}

                            /* Hero */

.section1{
    background-color: #2F303A;
    width: 1600px;
    /* margin:0 -200px 0 -200px; */
}
.section1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
}
.order-btn{
    margin-top: 30px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color:#2196F3;
}

.order-btn:hover,
.order-btn:focus{
    background-color: #188CE8;
}
h1{ 
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.webstudiolink{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.studio-up{
    color: black;
}
.studio-down{
    color: #FFFFFF;
}
.navigation{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.navlinksitem:hover,
.navlinksitem:focus{
    color: #2196F3;
}
.navlinksitem.current{
    color: #2196F3;
}
.navlistcontacts{
    
}
.navlinkscont{
    color: inherit;
}
.navlinkscont:hover,
.navlinkscont:focus{
    color:#2196F3;
}

/*section 2*/
.section2{
    width: 1200px;
    margin: auto;
}
.ul-section2{
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0;
}
.description-section2-h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
}
.description-section2-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    margin: 0;
    margin-right: 30px;
    padding-top: 10px;
}
/*section 3*/

.section3-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
}
/*section 4*/
.section4{
    background-color: #F5F4FA;
    margin:0 -200px 0 -200px;
}
.section4-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
}
.section4-h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section4-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
                            /*footer*/
.footer{
    background-color: #2F303A;
    margin:0 -200px 0 -200px;
}
.footer-adress{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-adress:hover,
.footer-adress:focus{
    color: #2196F3;
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: #2196F3;
}
                             /*Портфолио*/ 

/*Фильтр*/


.filter{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
}
.filter:hover,
.filter:focus {
    background-color: #2196F3;
    color: #F5F4FA;
}
.filter.current{
    background-color: #2196F3;
    color: #FFFFFF;
}

                                /*Галерея*/
.gallery-items{
    width: 370px;
    height: 410px;
}
.gallery-h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.categories{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
