*{
    text-decoration: none;
    list-style-type: none;
    
}
h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
body{
    font-family: 'Roboto';
}
main{
}
.container{
    width: 1200px;
}


                                /* Хедер */

header{
    display: flex;
    justify-content: center;
}
.section0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}
.nav-container{
    display: flex;
    align-items: center;
}
.navigation{
    margin-left: 93px;
}
.navlist{
    padding:0;
}
.navlinksitem{
    margin-right: 50px;
}
ul.navlist li{
    display: inline;
}
.web-blue{
    color: #2196F3;
}
.navlistcontacts{
    display: flex;
}
.navlinkscont{
    margin-left: 50px;
}
.navlinkscontact-container{
    display: flex;
    align-items: center;
}

                            /* Hero */

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F303A;
}
.section1-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
}
.section1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0;
}
.order-btn{
    margin-top: 30px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color:#2196F3;
    border-radius: 4px;
}

.order-btn:hover,
.order-btn:focus{
    background-color: #188CE8;
}
h1{ 
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.webstudiolink{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.studio-up{
    color: black;
}
.studio-down{
    color: #FFFFFF;
}
.navigation{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.navlinksitem:hover,
.navlinksitem:focus{
    color: #2196F3;
}
.navlinksitem.current{
    color: #2196F3;
}
.navlinksitem{
    color: #212121;
}
.navlistcontacts{
    
}
.navlinkscont{
    color: inherit;
}
.navlinkscont:hover,
.navlinkscont:focus{
    color:#2196F3;
}

/*section 2*/
.section2>.container{
    display:flex;
    justify-content: space-between;
    margin: auto;
}
.ul-section2{
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
} 
/* .li-section2:not(:nth-child(4n)){
    margin-right: 30px;
} */
.description-section2-h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin: 0;
}
.description-section2-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    margin: 0;
    margin-right: 30px;
    padding-top: 10px;
} 
/*section 3*/
.section3>.container{
    display:flex;
    flex-direction: column;
    margin: auto;
}
.section3-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0;
} 
.ul-section3{
    display:flex;
    justify-content: space-between;
    padding-top:50px;
    padding-bottom: 94px;
}
/*section 4*/

 .section4{
    background-color: #F5F4FA;
    margin:0 -200px 0 -200px;
}
.section4>.container{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.ul-section4{
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}
.section4-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 94px 0px 50px 0px;
}
.li-section4{
    width: 270px;
    height: 368px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.section4-h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top:30px;
}
.section4-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 10px;
}
                            /*footer*/
 .footer{
    background-color: #2F303A;
}
.footer>.container{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.footer-adress{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-map{
    padding-bottom: 9px;
    color: #FFFFFF;
}
.footer-mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;
}
.footer-contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 60px;
}
.footer-adress:hover,
.footer-adress:focus{
    color: #2196F3;
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: #2196F3;
} 
footer .webstudiolink{
    padding-top: 60px;
    padding-bottom: 20px;
}
.address-footer{
    padding-bottom: 9px;
}
.mail-footer{
    padding-bottom: 9px;
}
.tel-footer{
    padding-bottom: 60px;
}
                             /*Портфолио*/ 

                            /*Фильтр*/
main>.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.navlist{
    display: flex;
    justify-content: center;  
}
.filter{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;   
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    margin-right: 8px;
    padding: 6px 22px;
    background-color: #F5F4FA;
}
.portfolio{
    margin:94px 0px 50px 0px;
}
.filter:hover,
.filter:focus {
    background-color: #2196F3;
    color: #F5F4FA;
}
.filter.current{
    background-color: #2196F3;
    color: #FFFFFF;
}

                                /*Галерея*/
.gallery-items{
    width: 370px;
    height: 404px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #EEEEEE;
}
.gallery-h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    display: block;
    padding:20px 24px 0px 24px;
}
.categories{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    display: block;
    padding:4px 24px 20px 24px;
}
.ul-gallery{
    display: flex;
    flex-wrap: wrap;
}
.li-gallery{
    margin-right: 30px;
    margin-bottom: 30px;
}